@font-face {
  font-family: "TECHNOLIN Regular";
  font-style: normal;
  font-weight: normal;
  src: local("TECHNOLIN Regular"), url("TECHNOLIN.woff") format("woff");
}

h1 {
  font-family: "TECHNOLIN Regular";
}
